# Django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media

*.ipynb

vol

venv
.env
venv.bak/
env.bak/

# ssh key
*.pem

sudo curl -L https://github.com/docker/compose/releases/latest/download/docker-compose-$(uname -s)-$(uname -m) -o /usr/local/bin/docker-compose

sudo chmod +x /usr/local/bin/docker-compose

docker-compose version
